---
const platform="github";
const username="team-AccessDenied"

---


<footer class="site-footer">
    <div class="footer-center">
      Learn more about our project on <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>!
    </div>
    <!-- <div class="footer-right">
      <Social platform="twitter" username="astrodotbuild" />
      <Social platform="github" username="withastro" />
      <Social platform="youtube" username="astrodotbuild" />
    </div> -->
  </footer>