---
import BaseLayout from './layouts/Base-Layout.astro';
---
<BaseLayout page="Home">
  

  <main class="login-wrapper">
    <!-- Initial Buttons -->
    <div id="initial-buttons">
      <button id="show-login" class="big-btn">Login</button>
      <button id="show-register" class="big-btn">Register</button>
    </div>

    <!-- Hidden Form Container -->
    <div id="form-section" class="login-container hidden">
        <form id="auth-form">
            <input type="text" id="name" name="name" placeholder="Name" required />
            <input type="email" id="email" name="email" placeholder="Email" required />
            <input type="password" id="password" name="password" placeholder="Password" required />
            <button type="submit" id="submit-btn">Submit</button>
          </form>
    </div>
  </main>

  <script type="module" src={import.meta.env.BASE_URL + "/scripts/firebase-auth.js"}></script>
</BaseLayout>
