---
import Layout from "./layouts/Base-Layout.astro";
---

<Layout page="User-Info">

    <div class="user-info container">
        <script type="module" src="/scripts/user-info.js"></script>

    </div>
    
</Layout>